<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>This is home page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center d-flex flex-column justify-content-center align-items-center">
			<h1 class="font-weight-bold" >Smart Contact Manager</h1>
			<q>Start collecting your contacts in a smarter way. We provide 
			very efficient way of handling your contacts.</q>
			
			<button class="btn bg-primary btn-lg mt-4 text-white">Get Started</button>
		</div>
	</section>
</body>
</html>